ALGORITMOS DE INTELIGENCIA ARTIFICIAL BIOINSPIRADOS - ALGORITMOS GENETICOS

Representação do problema - calendarios de voos

In [99]:
import time #para data e horas
import random # biblioteca rondomica
import math # para recursos matematicos
import sys

In [100]:
pessoas = [('Lisbon', 'LIS'),
           ('Madrid', 'MAD'),
           ('Paris', 'CDG'),
           ('Dublin', 'DUB'),
           ('Brussels', 'BRU'),
           ('London', 'LHR')]

In [101]:
pessoas [5] # formato em tupla

('London', 'LHR')

In [102]:
destino = 'FCO' #Destino eh Roma

In [103]:
#estrutura de dados em formato tupla
voos = {('BRU', 'FCO'): ['15:44', '18:55', '382']}

In [104]:
voos #acessando a variavel

{('BRU', 'FCO'): ['15:44', '18:55', '382']}

In [105]:
voos [('BRU', 'FCO')]

['15:44', '18:55', '382']

In [106]:
#Teste de acesso aos dados nas suas respectivas posições
voos [('BRU', 'FCO')][0], voos[('BRU','FCO')][1], voos [('BRU', 'FCO')][2]

('15:44', '18:55', '382')

In [107]:
#criando uma função para leitura do arquivo flights.txt - Arquivo contendo os dados dos voos!!
voos = {}#definindo no formato de dicionario!!!
for linha in open('/content/flights.txt'):
  #print(linha)
  #print(linha.split(','))
  #criando as variaveis para cada possição da nossa lista/ e passando o valor das possições!!
  origem, destino, partida, chegada, preco = linha.split(',')
  #impromir possoções para teste!!
  #print(origem, destino, partida, chegada, preco)
#passando os valores de origem e destino, e atribuindo eles ao dicionario sem atribuir os valores !!
  voos.setdefault((origem, destino), [])
#adicionar os dados de partida, chegada e preco
  voos[(origem, destino)].append((partida, chegada, int(preco)))#realizar a conversao do preço em int, e deixar em formato tupla os dados

In [108]:
voos

{('FCO', 'LIS'): [('6:19', '8:13', 239),
  ('8:04', '10:59', 136),
  ('9:31', '11:43', 210),
  ('11:07', '13:24', 171),
  ('12:31', '14:02', 234),
  ('14:05', '15:47', 226),
  ('15:07', '17:21', 129),
  ('16:35', '18:56', 144),
  ('18:25', '20:34', 205),
  ('20:05', '21:44', 172)],
 ('LIS', 'FCO'): [('6:11', '8:31', 249),
  ('7:39', '10:24', 219),
  ('9:15', '12:03', 99),
  ('11:08', '13:07', 175),
  ('12:18', '14:56', 172),
  ('13:37', '15:08', 250),
  ('15:03', '16:42', 135),
  ('16:51', '19:09', 147),
  ('18:12', '20:17', 242),
  ('20:05', '22:06', 261)],
 ('FCO', 'MAD'): [('6:03', '8:43', 219),
  ('7:50', '10:08', 164),
  ('9:11', '10:42', 172),
  ('10:33', '13:11', 132),
  ('12:08', '14:47', 231),
  ('14:19', '17:09', 190),
  ('15:04', '17:23', 189),
  ('17:06', '20:00', 95),
  ('18:33', '20:22', 143),
  ('19:32', '21:25', 160)],
 ('MAD', 'FCO'): [('6:05', '8:32', 174),
  ('8:25', '10:34', 157),
  ('9:42', '11:32', 169),
  ('11:01', '12:39', 260),
  ('12:44', '14:17', 134),
  ('14:22', '16:32', 126),
  ('15:58', '18:40', 173),
  ('16:43', '19:00', 246),
  ('18:48', '21:45', 246),
  ('19:50', '22:24', 269)],
 ('FCO', 'CDG'): [('6:33', '9:14', 172),
  ('8:23', '11:07', 143),
  ('9:25', '12:46', 295),
  ('11:08', '14:38', 262),
  ('12:37', '15:05', 170),
  ('14:08', '16:09', 232),
  ('15:23', '18:49', 150),
  ('16:50', '19:26', 304),
  ('18:07', '21:30', 355),
  ('20:27', '23:42', 169)],
 ('CDG', 'FCO'): [('6:25', '9:30', 335),
  ('7:34', '9:40', 324),
  ('9:15', '12:29', 225),
  ('11:28', '14:40', 248),
  ('12:05', '15:30', 330),
  ('14:01', '17:24', 338),
  ('15:34', '18:11', 326),
  ('17:07', '20:04', 291),
  ('18:23', '21:35', 134),
  ('19:53', '22:21', 173)],
 ('FCO', 'DUB'): [('6:39', '8:09', 86),
  ('8:23', '10:28', 149),
  ('9:58', '11:18', 130),
  ('10:33', '12:03', 74),
  ('12:08', '14:05', 142),
  ('13:39', '15:30', 74),
  ('15:25', '16:58', 62),
  ('17:03', '18:03', 103),
  ('18:24', '20:49', 124),
  ('19:58', '21:23', 142)],
 ('DUB', 'FCO'): [('6:17', '8:26', 89),
  ('8:04', '10:11', 95),
  ('9:45', '11:50', 172),
  ('11:16', '13:29', 83),
  ('12:34', '15:02', 109),
  ('13:40', '15:37', 138),
  ('15:27', '17:18', 151),
  ('17:11', '18:30', 108),
  ('18:34', '19:36', 136),
  ('20:17', '22:22', 102)],
 ('FCO', 'BRU'): [('6:09', '9:49', 414),
  ('7:57', '11:15', 347),
  ('9:49', '13:51', 229),
  ('10:51', '14:16', 256),
  ('12:20', '16:34', 500),
  ('14:20', '17:32', 332),
  ('15:49', '20:10', 497),
  ('17:14', '20:59', 277),
  ('18:44', '22:42', 351),
  ('19:57', '23:15', 512)],
 ('BRU', 'FCO'): [('6:12', '10:22', 230),
  ('7:53', '11:37', 433),
  ('9:08', '12:12', 364),
  ('10:30', '14:57', 290),
  ('12:19', '15:25', 342),
  ('13:54', '18:02', 294),
  ('15:44', '18:55', 382),
  ('16:52', '20:48', 448),
  ('18:26', '21:29', 464),
  ('20:07', '23:27', 473)],
 ('FCO', 'LHR'): [('6:58', '9:01', 238),
  ('8:19', '11:16', 122),
  ('9:58', '12:56', 249),
  ('10:32', '13:16', 139),
  ('12:01', '13:41', 267),
  ('13:37', '15:33', 142),
  ('15:50', '18:45', 243),
  ('16:33', '18:15', 253),
  ('18:17', '21:04', 259),
  ('19:46', '21:45', 214)],
 ('LHR', 'FCO'): [('6:08', '8:06', 224),
  ('8:27', '10:45', 139),
  ('9:15', '12:14', 247),
  ('10:53', '13:36', 189),
  ('12:08', '14:59', 149),
  ('13:40', '15:38', 137),
  ('15:23', '17:25', 232),
  ('17:08', '19:08', 262),
  ('18:35', '20:28', 204),
  ('20:30', '23:11', 114)]}

In [109]:
#Checando os voos de LISBOA para ROMA!! + Preços! IDA
voos [('LIS', 'FCO')]

[('6:11', '8:31', 249),
 ('7:39', '10:24', 219),
 ('9:15', '12:03', 99),
 ('11:08', '13:07', 175),
 ('12:18', '14:56', 172),
 ('13:37', '15:08', 250),
 ('15:03', '16:42', 135),
 ('16:51', '19:09', 147),
 ('18:12', '20:17', 242),
 ('20:05', '22:06', 261)]

In [110]:
#Checando os voos de ROMA para LISBOA! + Preço! Volta
voos [('FCO','LIS')]

[('6:19', '8:13', 239),
 ('8:04', '10:59', 136),
 ('9:31', '11:43', 210),
 ('11:07', '13:24', 171),
 ('12:31', '14:02', 234),
 ('14:05', '15:47', 226),
 ('15:07', '17:21', 129),
 ('16:35', '18:56', 144),
 ('18:25', '20:34', 205),
 ('20:05', '21:44', 172)]

In [111]:
#[1,4, 3,2, 7,3, 6,3, 2,4, 5,3]

In [112]:
len([1,4, 3,2, 7,3, 6,3, 2,4, 5,3])

12

In [113]:
len([1,4, 3,2, 7,3, 6,3, 2,4, 5,3]) // 2

6

In [114]:
def imprime_calendario(calendario):
  voo_id = -1
  preco_total = 0
  for i in range(len(calendario) // 2):
    nome = pessoas[i][0]
    #print(nome)
    origem = pessoas[i][1]
    #print(origem)#vai imprimir as ciglas
    voo_id += 1 #vai ser usada para percorrer as sessoes
    voo_ida = voos[(origem, destino)] [calendario[voo_id]]#colocamos um filtro utilizando o parametro '[]', para filtrar por ID
    #print(voo_ida)
    preco_total += voo_ida[2]
    #Buscando os voos de volta
    voo_id =+ 1
    voo_volta = voos[(destino, origem)][calendario[voo_id]]
    preco_total += voo_volta[2]
    #print a baixo, com os caracter serve para tabular a minhas informações, para facilitar a visualização
    print('%10s%10s %5s-%5s U$%3s %5s-%5s U$%3s' % (nome, origem, voo_ida[0], voo_ida[1], voo_ida[2],
                                                    voo_volta[0], voo_volta[1], voo_volta[2]))
  print('Preço Total: ', preco_total)

In [115]:
imprime_calendario([1,5, 3,2, 7,3, 6,3, 2,4, 5,3])

    Lisbon       LIS  7:39-10:24 U$219 14:05-15:47 U$226
    Madrid       MAD 11:01-12:39 U$260 14:19-17:09 U$190
     Paris       CDG 11:28-14:40 U$248 14:08-16:09 U$232
    Dublin       DUB 11:16-13:29 U$ 83 13:39-15:30 U$ 74
  Brussels       BRU 10:30-14:57 U$290 14:20-17:32 U$332
    London       LHR 10:53-13:36 U$189 13:37-15:33 U$142
Preço Total:  2485

In [116]:
7 * 60 + 39, 13 * 60 + 37, 817 - 459

(459, 817, 358)

In [117]:
t = time.strptime('7:39', '%H:%M')#FORMATAÇÃO DA HORA, USANDO A FUNÇÃO TIME.STRPTIME
#('7:39', '%H:%M')
# Conventendo em Homra %H e Minuto %M

In [118]:
t

time.struct_time(tm_year=1900, tm_mon=1, tm_mday=1, tm_hour=7, tm_min=39, tm_sec=0, tm_wday=0, tm_yday=1, tm_isdst=-1)

In [119]:
t [3], t[4], t[3] * 60 + t[4]
#AO UTILIZAR A FUNÇÃO TIME.STRPTIME, POSSO ACESSAR CADA DADO DE NOSSO ARAY, EM SUA RESPECTIVA POSSIÇÃO. INICIANDO EM [0], E PERCORRENDO CADA POSSIÇÃO
#LOGO A POIS, POSSO REALIZAR A MULTIPLICAÇÃO DOS DADOS , PARA ENCONTRAR O MINUTO NA HORA, DEPOIS SOMAR PELOS MINUTOS RESTANTES!!!

(7, 39, 459)

In [120]:
#CRIANDO A FUNÇÃO PARA CALCULAR !!!

def get_minutos(hora):
  t = time.strptime(hora, '%H:%M')
  minutos = t[3] * 60 + t[4]
  return minutos

In [121]:
get_minutos('7:39'), get_minutos('13:37')

(459, 817)

In [122]:
get_minutos('23:59')

1439

FUNÇÃO DE AVALIAÇÃO DOS NOSSOS DADOS

In [127]:
#função para avaliar os dados [], correlacionados a lista de voos que foi gerada na primeira parte.. Será percorridos os dados para analisar o melhor percurso!!
def funcao_avaliacao(calendario):
  preco_total = 0
  ultima_chegada = 0
  primeira_partida = 1439 #ultimos minutos!!

  voo_id = -1
  for i in range(len(calendario) //2 ):
    origem = pessoas[i][1]
    voo_id += 1
    voo_ida = voos[(origem, destino)][calendario[voo_id]]
    voo_id += 1
    voo_volta = voos[(destino, origem)][calendario[voo_id]]

    preco_total += voo_ida[2]
    preco_total += voo_volta[2]

    if ultima_chegada < get_minutos(voo_ida[1]):
      ultima_chegada = get_minutos(voo_ida[1])
    if primeira_partida > get_minutos(voo_volta[0]):
      primeira_partida = get_minutos(voo_volta[0])


  print(preco_total)
  print(ultima_chegada)
  print(primeira_partida)

In [128]:
funcao_avaliacao([1,5, 3,2, 7,3, 6,3, 2,4, 5,3])

2795
1204
551

In [129]:
imprime_calendario([1,5, 3,2, 7,3, 6,3, 2,4, 5,3])

    Lisbon       LIS  7:39-10:24 U$219 14:05-15:47 U$226
    Madrid       MAD 11:01-12:39 U$260 14:19-17:09 U$190
     Paris       CDG 11:28-14:40 U$248 14:08-16:09 U$232
    Dublin       DUB 11:16-13:29 U$ 83 13:39-15:30 U$ 74
  Brussels       BRU 10:30-14:57 U$290 14:20-17:32 U$332
    London       LHR 10:53-13:36 U$189 13:37-15:33 U$142
Preço Total:  2485